@charset "UTF-8";

:root {
    --preto:black;
    --branco:white;
    --cor1:#D3CC4C;
    --cor2:#B1AB40;
    --cor3:#DCD650;
    --cor4:#8F8A33;
    --cor5:#6D6927;
    --cor6:#4B481B;
    --cor7:#f0eca5;
    --cor8:white;
    
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header__container {
    display: flex;
    height: 20%;
    width: 100%;
    background-color: var(--branco);
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo__text {
    margin-left: 4%;
    font-size: 180%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu__list {
    font-size: 2em;
    position: absolute;
    right: 4%;
}

.contrast {
    height: 90vh;
    margin: 8px;

    overflow: hidden;
    max-width: 100%;
    position: relative;
    

}

.contrast__container {
    
    display: flex;
  transition: transform 0.3s ease;
  will-change: transform;
  touch-action: pan-y;
}

.local {
    height: 90vh;
    background-size: cover;
    background-position: right;
     flex: 0 0 100%;
    box-sizing: border-box;
    padding: 20px; /* opcional */
}

.local__sp {
    background-image: url(../img/webaliser.jpg);
    
}

.local__rs {
    background-image: url(../img/brian.jpg);
    
}

.local__rj {
    background-image: url(../img/zoe.jpg);
    
}

.local__text {
    display: flex;
    background-color: var(--branco);
    width: fit-content;
    padding: 4px 0px;
    padding-left: 8px;
    padding-right: 8px;
    top: 20%;
    margin-left:13%;
    border: 1px solid var(--cor5);
    
}

.local__text--contrast {
    color: var(--cor4);
    margin-left: 2px;
}

.text__message {
    top: 26%;
    width: 68%;
    margin-left: 10%;
    font-size:320%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:var(--cor8) ;
    padding: 10px;
    border-radius: 10px;
}

.img__button {
    font-size: 2.5em;
    position:absolute;
    color: #dcd55090;
    transition: color 0.8s ease;   
    
}

.img__button:hover {
    color: #DCD650;
    transition: color 0.8s ease;
}

.img__button.disabled {
  color: #ccc;  /* cinza claro */
  cursor: not-allowed;
  opacity: 0.6;
}

#img__button--left {
    left: 2%;
    top: 50%;
}

#img__button--right {
    right: 2%;
    top: 50%;
}


.present {
    margin: 0px 20px;
    margin-top: 40px;
}

.present__title {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    
}

.present__subtitle {
    font-size: 1.5em;
    color: var(--cor4);

}

.present__text {
    width: 80%;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 15px;
}

.button__link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    
}

.present__more {
    color: var(--cor5);
    display: flex;
    align-items: center;
    
}

.present__more > p {
    margin-right: 2px;
}

.line--gray 

.services {
    margin: 20px;
    margin-top: 40px;
}

.service__container {
    margin-top: 20px;
}

.service__card {
  display: grid;
  grid-template-columns: auto 1fr; /* coluna 1 para o ícone, coluna 2 para o conteúdo */
  grid-template-rows: auto auto;   /* duas linhas */
  gap: 2px; /* opcional: espaço entre elementos */
  align-items: start;
}

.service__icon {
  grid-row: 1 / 3;   /* ocupa da linha 1 até antes da 3 (ou seja, 2 linhas) */
  grid-column: 1;    /* fica na coluna 1 */

  font-size: 4em;
  margin-right: 4px;
}

.service__title {
  grid-row: 1;       /* linha 1 */
  grid-column: 2;    /* coluna 2 */
}

.service__text {
  grid-row: 2;       /* linha 2 */
  grid-column: 2;    /* coluna 2 */
  width: 80%;
}




