@charset "UTF-8";

:root {
    --preto:black;
    --branco:white;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header__container {
    height: 20%;
    width: 100%;
    background-color: var(--branco);
}

.header__logo {
    width: 40%;
}